/Ejercicios Extras/Ejercicio_2/nbproject/private/
/Ejercicios Extras/Ejercicio_2/build/
/Ejercicios Extras/Ejercicio_5/nbproject/private/
/Ejercicios Extras/Ejercicio_5/build/
/Ejercicios Extras/Ejercicio_6/nbproject/private/
/Ejercicios Extras/Ejercicio_6/build/
/Ejercicios Extras/Ejercicio_3/nbproject/private/
/Ejercicios Extras/Ejercicio_3/build/
/Ejercicios Extras/Ejercicio_4/nbproject/private/
/Ejercicios Extras/Ejercicio_4/build/